*.node.js linguist-detectable=true
*.express.js linguist-detectable=true
*.sql linguist detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
